body {
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: rgb(233, 239, 241);
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.app-name {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000, 3px 3px 4px #000851;
    margin-top: 0.5rem;
}

#entertask {
    margin-left: 20rem;
}

.addtask button {
    background-color: #023e8a;
    border: 1px solid black;
    color: #ffffff;
    margin-left: 1rem;
}

.addtask button:hover {
    background-color: #0077b6;
}

.list {
    margin-top: 1.2rem;
    margin-left: 5rem;
}

.list div {
    display: flex;
    margin-left: 18rem;
    padding-left: 0.3rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
    width: 100rem;
    color: #000;
}

.list div:hover {
    transform: scale(1.01) ease-in-out;
    transition-duration: 200ms;
}

.card:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: -1rem;
    margin-left: -4rem;
    margin-bottom: 1rem;
}

.buttons .btn {
    background-color: #0077b6;
}

.buttons:hover {
    color: #ffffff;
}

